push constant 7
call lucas 1

function lucas 3

push argument 0
push constant 0
eq
if-goto nulti

push argument 0
push constant 1
eq
if-goto prvi

push argument 0
push constant 2
sub
pop argument 0

push constant 2
pop local 1

push constant 1
pop local 2

label loop_start
push local 0
push argument 0
eq
if-goto loop_end

push local 2
push local 2
push local 1
add
pop local 2
pop local 1

push local 0
push constant 1
add
pop local 0
goto loop_start

label loop_end
push local 2
goto END

label nulti
push constant 2
goto END

label prvi
push constant 1
goto END

label END
return